In [159]:
import pandas as pd
import os
import datetime as dt
import numpy as np
from statistics import mode

pd.set_option('display.max_columns', None)
#pd.reset_option('max_columns')

In [160]:
print(os.path.abspath('.'))

C:\Users\InfiniteWing\Downloads\assignment\stock_price

In [161]:
## 五檔報價(特徵) -----------------------------------------------------------------------------------------
raw_book_train = pd.read_parquet('book/600519/20200401.parquet.gzip')
book_train = raw_book_train.copy()

In [162]:
book_train['TimeStamp2'] = pd.to_datetime(book_train['TimeStamp'].values, unit='us')
book_train.head()

,TimeStamp,Bid1,Bid1Size,Ask1,Ask1Size,Bid2,Bid2Size,Ask2,Ask2Size,Bid3,Bid3Size,Ask3,Ask3Size,Bid4,Bid4Size,Ask4,Ask4Size,Bid5,Bid5Size,Ask5,Ask5Size,midpt,nextMidpt,TimeStamp2
index,,,,,,,,,,,,,,,,,,,,,,,,
137,1585704603505567,1113.00,1900,1115.03,100,1112.22,2800,1116.00,500,1112.00,600,1117.0,100,1111.21,3000,1117.99,8358,1111.11,1600,1118.0,1300,1114.015,1115.265,2020-04-01 01:30:03.505567
138,1585704606961840,1115.03,100,1115.50,100,1114.44,200,1117.00,940,1113.01,1000,1117.1,3200,1113.00,1900,1117.40,4000,1112.22,2800,1117.5,100,1115.265,1116.495,2020-04-01 01:30:06.961840
139,1585704609513298,1116.00,1600,1116.99,100,1115.03,300,1117.00,1240,1114.44,200,1117.1,3200,1113.01,600,1117.40,4000,1113.00,2000,1117.5,100,1116.495,1113.795,2020-04-01 01:30:09.513298
140,1585704612124381,1113.15,300,1114.44,400,1113.01,600,1116.99,100,1113.00,2000,1117.1,140,1112.22,2800,1117.40,4000,1112.00,1600,1117.5,100,1113.795,1111.565,2020-04-01 01:30:12.124381
141,1585704615123840,1111.51,100,1111.62,2200,1111.50,200,1116.00,100,1111.30,100,1116.5,100,1111.21,3000,1117.00,300,1111.18,200,1117.4,4000,1111.565,1114.200,2020-04-01 01:30:15.123840

In [163]:
## 時間
book_train['Week'] = book_train['TimeStamp2'].dt.dayofweek
book_train['Hour'] = book_train['TimeStamp2'].dt.hour
book_train['Minute'] = book_train['TimeStamp2'].dt.minute
book_train['Second'] = book_train['TimeStamp2'].dt.second
book_train.head()

,TimeStamp,Bid1,Bid1Size,Ask1,Ask1Size,Bid2,Bid2Size,Ask2,Ask2Size,Bid3,Bid3Size,Ask3,Ask3Size,Bid4,Bid4Size,Ask4,Ask4Size,Bid5,Bid5Size,Ask5,Ask5Size,midpt,nextMidpt,TimeStamp2,Week,Hour,Minute,Second
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,
137,1585704603505567,1113.00,1900,1115.03,100,1112.22,2800,1116.00,500,1112.00,600,1117.0,100,1111.21,3000,1117.99,8358,1111.11,1600,1118.0,1300,1114.015,1115.265,2020-04-01 01:30:03.505567,2,1,30,3
138,1585704606961840,1115.03,100,1115.50,100,1114.44,200,1117.00,940,1113.01,1000,1117.1,3200,1113.00,1900,1117.40,4000,1112.22,2800,1117.5,100,1115.265,1116.495,2020-04-01 01:30:06.961840,2,1,30,6
139,1585704609513298,1116.00,1600,1116.99,100,1115.03,300,1117.00,1240,1114.44,200,1117.1,3200,1113.01,600,1117.40,4000,1113.00,2000,1117.5,100,1116.495,1113.795,2020-04-01 01:30:09.513298,2,1,30,9
140,1585704612124381,1113.15,300,1114.44,400,1113.01,600,1116.99,100,1113.00,2000,1117.1,140,1112.22,2800,1117.40,4000,1112.00,1600,1117.5,100,1113.795,1111.565,2020-04-01 01:30:12.124381,2,1,30,12
141,1585704615123840,1111.51,100,1111.62,2200,1111.50,200,1116.00,100,1111.30,100,1116.5,100,1111.21,3000,1117.00,300,1111.18,200,1117.4,4000,1111.565,1114.200,2020-04-01 01:30:15.123840,2,1,30,15

In [165]:
book_train = book_train.reset_index()
book_train.head()

,level_0,index,TimeStamp,Bid1,Bid1Size,Ask1,Ask1Size,Bid2,Bid2Size,Ask2,Ask2Size,Bid3,Bid3Size,Ask3,Ask3Size,Bid4,Bid4Size,Ask4,Ask4Size,Bid5,Bid5Size,Ask5,Ask5Size,midpt,nextMidpt,TimeStamp2,Week,Hour,Minute,Second
0,0,137,1585704603505567,1113.00,1900,1115.03,100,1112.22,2800,1116.00,500,1112.00,600,1117.0,100,1111.21,3000,1117.99,8358,1111.11,1600,1118.0,1300,1114.015,1115.265,2020-04-01 01:30:03.505567,2,1,30,3
1,1,138,1585704606961840,1115.03,100,1115.50,100,1114.44,200,1117.00,940,1113.01,1000,1117.1,3200,1113.00,1900,1117.40,4000,1112.22,2800,1117.5,100,1115.265,1116.495,2020-04-01 01:30:06.961840,2,1,30,6
2,2,139,1585704609513298,1116.00,1600,1116.99,100,1115.03,300,1117.00,1240,1114.44,200,1117.1,3200,1113.01,600,1117.40,4000,1113.00,2000,1117.5,100,1116.495,1113.795,2020-04-01 01:30:09.513298,2,1,30,9
3,3,140,1585704612124381,1113.15,300,1114.44,400,1113.01,600,1116.99,100,1113.00,2000,1117.1,140,1112.22,2800,1117.40,4000,1112.00,1600,1117.5,100,1113.795,1111.565,2020-04-01 01:30:12.124381,2,1,30,12
4,4,141,1585704615123840,1111.51,100,1111.62,2200,1111.50,200,1116.00,100,1111.30,100,1116.5,100,1111.21,3000,1117.00,300,1111.18,200,1117.4,4000,1111.565,1114.200,2020-04-01 01:30:15.123840,2,1,30,15

In [34]:
col_bid_size = ['Bid1Size','Bid2Size','Bid3Size','Bid4Size','Bid5Size'] #買
col_ask_size = ['Ask1Size','Ask2Size','Ask3Size','Ask4Size','Ask5Size'] #賣

col_bid = ['Bid1','Bid2','Bid3','Bid4','Bid5'] #買
col_ask = ['Ask1','Ask2','Ask3','Ask4','Ask5'] #賣


## 動能(漲跌相對強度)
book_train['book_size_diff'] =  book_train[col_bid_size].sum(axis=1) - book_train[col_ask].sum(axis=1) #委買掛單總數-委賣掛單總數
book_train['book_size_ratio'] =  book_train[col_bid_size].sum(axis=1) / book_train[col_ask].sum(axis=1) #委買掛單總數/委賣掛單總數


## 基本描述統計值(最大、最小、平均)_ask
def get_avg1(row):
    avg = (row['Ask1Size']*row['Ask1']+row['Ask2Size']*row['Ask2']+row['Ask3Size']*row['Ask3']+row['Ask4Size']*row['Ask4']+row['Ask5Size']*row['Ask5']) / (row['Ask1Size']+row['Ask2Size']+row['Ask3Size']+row['Ask4Size']+row['Ask5Size'])
    return avg

book_train['pre_ask_min'] = book_train.shift(1)[col_ask].min(axis=1)
book_train['pre_ask_max'] = book_train.shift(1)[col_ask].max(axis=1)
book_train['pre_ask_avg'] = book_train.shift(1).apply(lambda row: get_avg1(row), axis=1)

## 基本描述統計值(眾數、四分位數)_ask
def flatten_extend(matrix): #把巢狀lsit攤平
    flat_list = []
    for row in matrix:
        flat_list.extend(row)
    return flat_list

pre_book_ask_mode = []
pre_book_ask_q1 = []
pre_book_ask_q2 = []
pre_book_ask_q3 = []

for i in range(1, len(book_train)):
    term_data = []
    term_data = map( lambda x,y: book_train.loc[i-1,x].repeat(int(book_train.loc[i-1,y])) ,col_ask ,col_ask_size )
    term_data = list(term_data)
    term_data = flatten_extend(term_data)
    pre_book_ask_mode.append( mode(term_data) )
    pre_book_ask_q1.append( np.quantile(term_data,0.25) )
    pre_book_ask_q2.append( np.quantile(term_data,0.5) )
    pre_book_ask_q3.append( np.quantile(term_data,0.75) )

pre_book_ask_mode.insert( 0, pre_book_ask_mode[0] )
pre_book_ask_q1.insert( 0, pre_book_ask_q1[0] )
pre_book_ask_q2.insert( 0, pre_book_ask_q2[0] )
pre_book_ask_q3.insert( 0, pre_book_ask_q3[0] )

book_train['pre_book_ask_mode'] = pre_book_ask_mode
book_train['pre_book_ask_q1'] = pre_book_ask_q1
book_train['pre_book_ask_q2'] = pre_book_ask_q2
book_train['pre_book_ask_q3'] = pre_book_ask_q3

book_train.head()

,index,TimeStamp,Bid1,Bid1Size,Ask1,Ask1Size,Bid2,Bid2Size,Ask2,Ask2Size,Bid3,Bid3Size,Ask3,Ask3Size,Bid4,Bid4Size,Ask4,Ask4Size,Bid5,Bid5Size,Ask5,Ask5Size,midpt,nextMidpt,TimeStamp2,Week,Hour,Minute,Second,size_diff,size_ratio,pre_ask_min,pre_ask_max,pre_ask_avg,pre_book_ask_mode,pre_book_ask_q1,pre_book_ask_q2,pre_book_ask_q3
0,137,1585704603505567,1113.00,1900,1115.03,100,1112.22,2800,1116.00,500,1112.00,600,1117.0,100,1111.21,3000,1117.99,8358,1111.11,1600,1118.0,1300,1114.015,1115.265,2020-04-01 01:30:03.505567,2,1,30,3,4315.98,1.772916,NaN,NaN,NaN,1117.99,1117.99,1117.99,1117.99
1,138,1585704606961840,1115.03,100,1115.50,100,1114.44,200,1117.00,940,1113.01,1000,1117.1,3200,1113.00,1900,1117.40,4000,1112.22,2800,1117.5,100,1115.265,1116.495,2020-04-01 01:30:06.961840,2,1,30,6,415.50,1.074402,1115.03,1118.0,1117.857059,1117.99,1117.99,1117.99,1117.99
2,139,1585704609513298,1116.00,1600,1116.99,100,1115.03,300,1117.00,1240,1114.44,200,1117.1,3200,1113.01,600,1117.40,4000,1113.00,2000,1117.5,100,1116.495,1113.795,2020-04-01 01:30:09.513298,2,1,30,9,-885.99,0.841391,1115.50,1117.5,1117.218225,1117.40,1117.10,1117.10,1117.40
3,140,1585704612124381,1113.15,300,1114.44,400,1113.01,600,1116.99,100,1113.00,2000,1117.1,140,1112.22,2800,1117.40,4000,1112.00,1600,1117.5,100,1113.795,1111.565,2020-04-01 01:30:12.124381,2,1,30,12,1716.57,1.307440,1116.99,1117.5,1117.227894,1117.40,1117.10,1117.10,1117.40
4,141,1585704615123840,1111.51,100,1111.62,2200,1111.50,200,1116.00,100,1111.30,100,1116.5,100,1111.21,3000,1117.00,300,1111.18,200,1117.4,4000,1111.565,1114.200,2020-04-01 01:30:15.123840,2,1,30,15,-1978.52,0.645332,1114.44,1117.5,1117.134810,1117.40,1117.40,1117.40,1117.40

In [36]:
## 基本描述統計值(最大、最小、平均)_bid
def get_avg2(row):
    avg = (row['Bid1Size']*row['Bid1']+row['Bid2Size']*row['Bid2']+row['Bid3Size']*row['Bid3']+row['Bid4Size']*row['Bid4']+row['Bid5Size']*row['Bid5']) / (row['Bid1Size']+row['Bid2Size']+row['Bid3Size']+row['Bid4Size']+row['Bid5Size'])
    return avg

book_train['pre_bid_min'] = book_train.shift(1)[col_bid].min(axis=1)
book_train['pre_bid_max'] = book_train.shift(1)[col_bid].max(axis=1)
book_train['pre_bid_avg'] = book_train.shift(1).apply(lambda row: get_avg2(row), axis=1)

## 基本描述統計值(眾數、四分位數)_bid
pre_book_bid_mode = []
pre_book_bid_q1 = []
pre_book_bid_q2 = []
pre_book_bid_q3 = []

for i in range(1, len(book_train)):
    term_data = []
    term_data = map(lambda x,y: book_train.loc[i-1,x].repeat(int(book_train.loc[i-1,y])) ,col_bid ,col_bid_size )
    term_data = list(term_data)
    term_data = flatten_extend(term_data)
    pre_book_bid_mode.append( mode(term_data) )
    pre_book_bid_q1.append( np.quantile(term_data,0.25) )
    pre_book_bid_q2.append( np.quantile(term_data,0.5) )
    pre_book_bid_q3.append( np.quantile(term_data,0.75) )

pre_book_bid_mode.insert( 0, pre_book_bid_mode[0] )
pre_book_bid_q1.insert( 0, pre_book_bid_q1[0] )
pre_book_bid_q2.insert( 0, pre_book_bid_q2[0] )
pre_book_bid_q3.insert( 0, pre_book_bid_q3[0] )

book_train['pre_book_bid_mode'] = pre_book_bid_mode
book_train['pre_book_bid_q1'] = pre_book_bid_q1
book_train['pre_book_bid_q2'] = pre_book_bid_q2
book_train['pre_book_bid_q3'] = pre_book_bid_q3

book_train.head()

,index,TimeStamp,Bid1,Bid1Size,Ask1,Ask1Size,Bid2,Bid2Size,Ask2,Ask2Size,Bid3,Bid3Size,Ask3,Ask3Size,Bid4,Bid4Size,Ask4,Ask4Size,Bid5,Bid5Size,Ask5,Ask5Size,midpt,nextMidpt,TimeStamp2,Week,Hour,Minute,Second,size_diff,size_ratio,pre_ask_min,pre_ask_max,pre_ask_avg,pre_book_ask_mode,pre_book_ask_q1,pre_book_ask_q2,pre_book_ask_q3,pre_bid_min,pre_bid_max,pre_bid_avg,pre_book_bid_mode,pre_book_bid_q1,pre_book_bid_q2,pre_book_bid_q3
0,137,1585704603505567,1113.00,1900,1115.03,100,1112.22,2800,1116.00,500,1112.00,600,1117.0,100,1111.21,3000,1117.99,8358,1111.11,1600,1118.0,1300,1114.015,1115.265,2020-04-01 01:30:03.505567,2,1,30,3,4315.98,1.772916,NaN,NaN,NaN,1117.99,1117.99,1117.99,1117.99,NaN,NaN,NaN,1111.21,1111.21,1112.00,1112.22
1,138,1585704606961840,1115.03,100,1115.50,100,1114.44,200,1117.00,940,1113.01,1000,1117.1,3200,1113.00,1900,1117.40,4000,1112.22,2800,1117.5,100,1115.265,1116.495,2020-04-01 01:30:06.961840,2,1,30,6,415.50,1.074402,1115.03,1118.0,1117.857059,1117.99,1117.99,1117.99,1117.99,1111.11,1113.00,1111.870909,1111.21,1111.21,1112.00,1112.22
2,139,1585704609513298,1116.00,1600,1116.99,100,1115.03,300,1117.00,1240,1114.44,200,1117.1,3200,1113.01,600,1117.40,4000,1113.00,2000,1117.5,100,1116.495,1113.795,2020-04-01 01:30:09.513298,2,1,30,9,-885.99,0.841391,1115.50,1117.5,1117.218225,1117.40,1117.10,1117.10,1117.40,1112.22,1115.03,1112.719500,1112.22,1112.22,1113.00,1113.00
3,140,1585704612124381,1113.15,300,1114.44,400,1113.01,600,1116.99,100,1113.00,2000,1117.1,140,1112.22,2800,1117.40,4000,1112.00,1600,1117.5,100,1113.795,1111.565,2020-04-01 01:30:12.124381,2,1,30,12,1716.57,1.307440,1116.99,1117.5,1117.227894,1117.40,1117.10,1117.10,1117.40,1113.00,1116.00,1114.213404,1113.00,1113.00,1113.01,1116.00
4,141,1585704615123840,1111.51,100,1111.62,2200,1111.50,200,1116.00,100,1111.30,100,1116.5,100,1111.21,3000,1117.00,300,1111.18,200,1117.4,4000,1111.565,1114.200,2020-04-01 01:30:15.123840,2,1,30,15,-1978.52,0.645332,1114.44,1117.5,1117.134810,1117.40,1117.40,1117.40,1117.40,1112.00,1113.15,1112.488630,1112.22,1112.22,1112.22,1113.00

In [26]:
## 移動平均線
book_train['book_ma_6s'] =  book_train['midpt'].shift(1).rolling(1).mean()
book_train['book_ma_12s'] = book_train['midpt'].shift(1).rolling(2).mean()
book_train['book_ma_24s'] = book_train['midpt'].shift(1).rolling(3).mean()
book_train['book_ma_48s'] = book_train['midpt'].shift(1).rolling(4).mean()
book_train['book_ma_96s'] = book_train['midpt'].shift(1).rolling(5).mean()

book_train['book_mstd_12s'] = book_train['midpt'].shift(1).rolling(2).std()
book_train['book_mstd_24s'] = book_train['midpt'].shift(1).rolling(3).std()
book_train['book_mstd_48s'] = book_train['midpt'].shift(1).rolling(4).std()
book_train['book_mstd_96s'] = book_train['midpt'].shift(1).rolling(5).std()

book_train.head(10)

,TimeStamp,Bid1,Bid1Size,Ask1,Ask1Size,Bid2,Bid2Size,Ask2,Ask2Size,Bid3,Bid3Size,Ask3,Ask3Size,Bid4,Bid4Size,Ask4,Ask4Size,Bid5,Bid5Size,Ask5,Ask5Size,midpt,nextMidpt,TimeStamp2,book_ma_6s,book_ma_12s,book_ma_24s,book_ma_28s,book_mstd_6s,book_mstd_12s,book_mstd_14s,book_mstd_28s,book_ma_48s,book_ma_96s,book_mstd_24s,book_mstd_48s,book_mstd_96s
index,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
137,1585704603505567,1113.00,1900,1115.03,100,1112.22,2800,1116.00,500,1112.00,600,1117.00,100,1111.21,3000,1117.99,8358,1111.11,1600,1118.00,1300,1114.015,1115.265,2020-04-01 01:30:03.505567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,1585704606961840,1115.03,100,1115.50,100,1114.44,200,1117.00,940,1113.01,1000,1117.10,3200,1113.00,1900,1117.40,4000,1112.22,2800,1117.50,100,1115.265,1116.495,2020-04-01 01:30:06.961840,1114.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,1585704609513298,1116.00,1600,1116.99,100,1115.03,300,1117.00,1240,1114.44,200,1117.10,3200,1113.01,600,1117.40,4000,1113.00,2000,1117.50,100,1116.495,1113.795,2020-04-01 01:30:09.513298,1115.265,1114.6400,NaN,NaN,NaN,0.883883,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,1585704612124381,1113.15,300,1114.44,400,1113.01,600,1116.99,100,1113.00,2000,1117.10,140,1112.22,2800,1117.40,4000,1112.00,1600,1117.50,100,1113.795,1111.565,2020-04-01 01:30:12.124381,1116.495,1115.8800,1115.258333,NaN,NaN,0.869741,1.240013,NaN,NaN,NaN,1.240013,NaN,NaN
141,1585704615123840,1111.51,100,1111.62,2200,1111.50,200,1116.00,100,1111.30,100,1116.50,100,1111.21,3000,1117.00,300,1111.18,200,1117.40,4000,1111.565,1114.200,2020-04-01 01:30:15.123840,1113.795,1115.1450,1115.185000,1114.89250,NaN,1.909188,1.351777,1.249170,1114.89250,NaN,1.351777,1.249170,NaN
142,1585704618121704,1111.00,2200,1117.40,4100,1110.90,2100,1117.50,100,1110.02,100,1117.51,100,1110.01,200,1117.60,15000,1110.00,2000,1117.99,7758,1114.200,1111.895,2020-04-01 01:30:18.121704,1111.565,1112.6800,1113.951667,1114.28000,NaN,1.576848,2.468731,2.119976,1114.28000,1114.227,2.468731,2.119976,1.839774
143,1585704621132090,1111.51,100,1112.28,100,1111.00,2700,1115.50,100,1110.90,2100,1115.76,200,1110.02,100,1116.79,100,1110.01,200,1117.39,1100,1111.895,1111.115,2020-04-01 01:30:21.132090,1114.200,1112.8825,1113.186667,1114.01375,NaN,1.863226,1.418929,2.019531,1114.01375,1114.264,1.418929,2.019531,1.836302
144,1585704624123763,1111.11,300,1111.12,1000,1111.00,2700,1112.28,200,1110.90,2100,1115.50,200,1110.02,100,1115.76,200,1110.01,200,1116.79,100,1111.115,1113.890,2020-04-01 01:30:24.123763,1111.895,1113.0475,1112.553333,1112.86375,NaN,1.629881,1.435569,1.326401,1112.86375,1113.590,1.435569,1.326401,1.989146
145,1585704627126163,1112.28,2900,1115.50,200,1111.12,100,1115.76,200,1111.11,300,1116.49,200,1111.03,500,1116.79,100,1111.01,100,1117.30,100,1113.890,1113.640,2020-04-01 01:30:27.126163,1111.115,1111.5050,1112.403333,1112.19375,NaN,0.551543,1.604091,1.375175,1112.19375,1112.514,1.604091,1.375175,1.389651
146,1585704630122292,1112.28,3300,1115.00,300,1111.22,1000,1115.49,1100,1111.13,500,1115.50,400,1111.12,100,1115.76,200,1111.11,1300,1116.49,300,1113.640,1114.320,2020-04-01 01:30:30.122292,1113.890,1112.5025,1112.300000,1112.77500,NaN,1.962221,1.431145,1.505971,1112.77500,1112.533,1.431145,1.505971,1.412014

In [326]:
## 交易量(特徵) -----------------------------------------------------------------------------------------
raw_trade_train = pd.read_parquet('trade/600519/20200401.parquet.gzip')
trade_train = raw_trade_train.copy()

In [327]:
trade_train['TimeStamp2'] = pd.to_datetime(trade_train['TimeStamp'].values, unit='us')
trade_train.head()

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2
index,,,,,,,,
213,1585704600549504,99924,141932,0,0.0,100,1115.5,2020-04-01 01:30:00.549504
214,1585704600551309,142138,141795,100,1116.0,0,0.0,2020-04-01 01:30:00.551309
215,1585704601244086,86301,142421,0,0.0,100,1115.0,2020-04-01 01:30:01.244086
216,1585704601252795,141888,143205,0,0.0,100,1115.0,2020-04-01 01:30:01.252795
217,1585704601256878,141888,143923,0,0.0,200,1115.0,2020-04-01 01:30:01.256878

In [328]:
## 時間
trade_train['Week'] = trade_train['TimeStamp2'].dt.dayofweek
trade_train['Hour'] = trade_train['TimeStamp2'].dt.hour
trade_train['Minute'] = trade_train['TimeStamp2'].dt.minute
trade_train['Second'] = trade_train['TimeStamp2'].dt.second
trade_train.head()

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second
index,,,,,,,,,,,,
213,1585704600549504,99924,141932,0,0.0,100,1115.5,2020-04-01 01:30:00.549504,2,1,30,0
214,1585704600551309,142138,141795,100,1116.0,0,0.0,2020-04-01 01:30:00.551309,2,1,30,0
215,1585704601244086,86301,142421,0,0.0,100,1115.0,2020-04-01 01:30:01.244086,2,1,30,1
216,1585704601252795,141888,143205,0,0.0,100,1115.0,2020-04-01 01:30:01.252795,2,1,30,1
217,1585704601256878,141888,143923,0,0.0,200,1115.0,2020-04-01 01:30:01.256878,2,1,30,1

In [329]:
# 以五檔報價時間依據，將交易資料分組(bisect)

import bisect
book_ts = book_train['TimeStamp'].values.tolist()  #dataframe to list

def get_ts_id(ts):
    return bisect.bisect_left(book_ts, ts)  #回傳插入的位置，以0開頭
    

trade_train['ts_id'] = trade_train['TimeStamp'].apply(lambda ts: get_ts_id(ts))  #ts:trade每一列
trade_train.head(39)

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second,ts_id
index,,,,,,,,,,,,,
213,1585704600549504,99924,141932,0,0.00,100,1115.50,2020-04-01 01:30:00.549504,2,1,30,0,0
214,1585704600551309,142138,141795,100,1116.00,0,0.00,2020-04-01 01:30:00.551309,2,1,30,0,0
215,1585704601244086,86301,142421,0,0.00,100,1115.00,2020-04-01 01:30:01.244086,2,1,30,1,0
216,1585704601252795,141888,143205,0,0.00,100,1115.00,2020-04-01 01:30:01.252795,2,1,30,1,0
217,1585704601256878,141888,143923,0,0.00,200,1115.00,2020-04-01 01:30:01.256878,2,1,30,1,0
218,1585704602351479,145463,142415,100,1115.50,0,0.00,2020-04-01 01:30:02.351479,2,1,30,2,0
219,1585704602351488,145463,142417,100,1115.50,0,0.00,2020-04-01 01:30:02.351488,2,1,30,2,0
220,1585704602351495,145463,142975,100,1115.50,0,0.00,2020-04-01 01:30:02.351495,2,1,30,2,0
221,1585704602361905,141888,146661,0,0.00,200,1115.00,2020-04-01 01:30:02.361905,2,1,30,2,0
222,1585704602363104,147205,145685,100,1115.73,0,0.00,2020-04-01 01:30:02.363104,2,1,30,2,0
223,1585704602363286,147242,145288,100,1115.99,0,0.00,2020-04-01 01:30:02.363286,2,1,30,2,0
224,1585704602363791,141888,147397,0,0.00,1500,1115.00,2020-04-01 01:30:02.363791,2,1,30,2,0
225,1585704602363796,143467,147397,0,0.00,800,1115.00,2020-04-01 01:30:02.363796,2,1,30,2,0
226,1585704602364737,136973,147741,0,0.00,100,1113.01,2020-04-01 01:30:02.364737,2,1,30,2,0
227,1585704604596294,148581,148580,300,1113.01,0,0.00,2020-04-01 01:30:04.596294,2,1,30,4,1
228,1585704604596302,148582,148580,100,1113.01,0,0.00,2020-04-01 01:30:04.596302,2,1,30,4,1
229,1585704604596635,148743,148580,100,1113.01,0,0.00,2020-04-01 01:30:04.596635,2,1,30,4,1
230,1585704604596667,148756,148580,500,1113.01,0,0.00,2020-04-01 01:30:04.596667,2,1,30,4,1
231,1585704604596672,148756,147397,300,1114.00,0,0.00,2020-04-01 01:30:04.596672,2,1,30,4,1
232,1585704604599374,148955,147895,100,1115.50,0,0.00,2020-04-01 01:30:04.599374,2,1,30,4,1
233,1585704604599380,148955,141872,100,1116.49,0,0.00,2020-04-01 01:30:04.599380,2,1,30,4,1
234,1585704604603122,149873,149790,100,1116.80,0,0.00,2020-04-01 01:30:04.603122,2,1,30,4,1
235,1585704604609238,151126,150501,100,1116.00,0,0.00,2020-04-01 01:30:04.609238,2,1,30,4,1
236,1585704604609246,151126,142153,100,1116.85,0,0.00,2020-04-01 01:30:04.609246,2,1,30,4,1
237,1585704605756352,152573,151807,100,1115.00,0,0.00,2020-04-01 01:30:05.756352,2,1,30,5,1
238,1585704605759175,149028,152970,0,0.00,100,1113.11,2020-04-01 01:30:05.759175,2,1,30,5,1
239,1585704605761035,153580,152928,100,1115.48,0,0.00,2020-04-01 01:30:05.761035,2,1,30,5,1
240,1585704605762586,154086,152577,300,1115.49,0,0.00,2020-04-01 01:30:05.762586,2,1,30,5,1
241,1585704605762592,154086,151342,100,1115.50,0,0.00,2020-04-01 01:30:05.762592,2,1,30,5,1
242,1585704605762598,154086,151602,100,1115.50,0,0.00,2020-04-01 01:30:05.762598,2,1,30,5,1
243,1585704605762606,154086,142153,300,1116.85,0,0.00,2020-04-01 01:30:05.762606,2,1,30,5,1
244,1585704606825671,157171,155984,100,1115.50,0,0.00,2020-04-01 01:30:06.825671,2,1,30,6,1
245,1585704606830327,157808,156563,100,1115.50,0,0.00,2020-04-01 01:30:06.830327,2,1,30,6,1
246,1585704606832437,158150,157396,100,1115.50,0,0.00,2020-04-01 01:30:06.832437,2,1,30,6,1
247,1585704607940193,160656,156359,100,1116.50,0,0.00,2020-04-01 01:30:07.940193,2,1,30,7,2
248,1585704607941734,161140,142153,700,1116.85,0,0.00,2020-04-01 01:30:07.941734,2,1,30,7,2
249,1585704608796965,162529,162083,100,1116.11,0,0.00,2020-04-01 01:30:08.796965,2,1,30,8,2
250,1585704608796973,162529,153271,100,1116.87,0,0.00,2020-04-01 01:30:08.796973,2,1,30,8,2
251,1585704608796980,162529,147219,200,1116.90,0,0.00,2020-04-01 01:30:08.796980,2,1,30,8,2

In [330]:
# 買賣次數
df_result = trade_train.groupby(trade_train['ts_id'])['BuyVolume'].agg(lambda x: x[x>0].count()).reset_index()
df_result = df_result.rename(columns={'BuyVolume':'trade_buy_cnt'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.groupby(trade_train['ts_id'])['SellVolume'].agg(lambda x: x[x>0].count()).reset_index()
df_result = df_result.rename(columns={'SellVolume': 'trade_sell_cnt'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

trade_train['trade_cnt_diff'] = trade_train['trade_sell_cnt'] - trade_train['trade_buy_cnt'] #買成 > 賣成，預期價格跌。
trade_train.head()

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second,ts_id,trade_buy_cnt,trade_sell_cnt,trade_cnt_diff
0,1585704600549504,99924,141932,0,0.0,100,1115.5,2020-04-01 01:30:00.549504,2,1,30,0,0,6,8,2
1,1585704600551309,142138,141795,100,1116.0,0,0.0,2020-04-01 01:30:00.551309,2,1,30,0,0,6,8,2
2,1585704601244086,86301,142421,0,0.0,100,1115.0,2020-04-01 01:30:01.244086,2,1,30,1,0,6,8,2
3,1585704601252795,141888,143205,0,0.0,100,1115.0,2020-04-01 01:30:01.252795,2,1,30,1,0,6,8,2
4,1585704601256878,141888,143923,0,0.0,200,1115.0,2020-04-01 01:30:01.256878,2,1,30,1,0,6,8,2

In [331]:
# 買賣成交量相差、相除
dict_tmp = (trade_train.groupby('ts_id')['SellVolume'].sum() - trade_train.groupby('ts_id')['BuyVolume'].sum()).to_dict()
trade_train['trade_size_diff'] = trade_train['ts_id'].map(dict_tmp)

dict_tmp = (trade_train.groupby('ts_id')['SellVolume'].sum() / trade_train.groupby('ts_id')['BuyVolume'].sum()).to_dict()
trade_train['trade_size_ratio'] = trade_train['ts_id'].map(dict_tmp)

trade_train.head()

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second,ts_id,trade_buy_cnt,trade_sell_cnt,trade_cnt_diff,trade_size_diff,trade_size_ratio
0,1585704600549504,99924,141932,0,0.0,100,1115.5,2020-04-01 01:30:00.549504,2,1,30,0,0,6,8,2,2500,5.166667
1,1585704600551309,142138,141795,100,1116.0,0,0.0,2020-04-01 01:30:00.551309,2,1,30,0,0,6,8,2,2500,5.166667
2,1585704601244086,86301,142421,0,0.0,100,1115.0,2020-04-01 01:30:01.244086,2,1,30,1,0,6,8,2,2500,5.166667
3,1585704601252795,141888,143205,0,0.0,100,1115.0,2020-04-01 01:30:01.252795,2,1,30,1,0,6,8,2,2500,5.166667
4,1585704601256878,141888,143923,0,0.0,200,1115.0,2020-04-01 01:30:01.256878,2,1,30,1,0,6,8,2,2500,5.166667

In [332]:
# 移動平均線(sell,buy)
#sell
df_result = trade_train.query('SellPrice > 0').groupby('ts_id')['SellPrice'].rolling(1).mean().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'SellPrice':'sell_ma1'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('SellPrice > 0').groupby('ts_id')['SellPrice'].rolling(3).mean().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'SellPrice':'sell_ma3'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('SellPrice > 0').groupby('ts_id')['SellPrice'].rolling(6).mean().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'SellPrice':'sell_ma6'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('SellPrice > 0').groupby('ts_id')['SellPrice'].rolling(3).std().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'SellPrice':'sell_mstd3'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('SellPrice > 0').groupby('ts_id')['SellPrice'].rolling(6).std().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'SellPrice':'sell_mstd6'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

#buy
df_result = trade_train.query('BuyPrice > 0').groupby('ts_id')['BuyPrice'].rolling(1).mean().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'BuyPrice':'buyl_ma1'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('BuyPrice > 0').groupby('ts_id')['BuyPrice'].rolling(3).mean().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'BuyPrice':'buyl_ma3'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('BuyPrice > 0').groupby('ts_id')['BuyPrice'].rolling(6).mean().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'BuyPrice':'buyl_ma6'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('BuyPrice > 0').groupby('ts_id')['BuyPrice'].rolling(3).std().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'BuyPrice':'buyl_mstd3'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

df_result = trade_train.query('BuyPrice > 0').groupby('ts_id')['BuyPrice'].rolling(6).std().reset_index()
df_result = df_result.drop_duplicates('ts_id', keep='last').drop(columns=['level_1'])
df_result = df_result.rename(columns={'BuyPrice':'buyl_mstd6'})
trade_train = trade_train.merge(df_result, how='inner', on='ts_id')

In [333]:
trade_train.head()

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second,ts_id,trade_buy_cnt,trade_sell_cnt,trade_cnt_diff,trade_size_diff,trade_size_ratio,sell_ma1,sell_ma3,sell_ma6,sell_mstd3,sell_mstd6,buyl_ma1,buyl_ma3,buyl_ma6,buyl_mstd3,buyl_mstd6
0,1585704600549504,99924,141932,0,0.0,100,1115.5,2020-04-01 01:30:00.549504,2,1,30,0,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
1,1585704600551309,142138,141795,100,1116.0,0,0.0,2020-04-01 01:30:00.551309,2,1,30,0,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
2,1585704601244086,86301,142421,0,0.0,100,1115.0,2020-04-01 01:30:01.244086,2,1,30,1,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
3,1585704601252795,141888,143205,0,0.0,100,1115.0,2020-04-01 01:30:01.252795,2,1,30,1,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
4,1585704601256878,141888,143923,0,0.0,200,1115.0,2020-04-01 01:30:01.256878,2,1,30,1,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872

In [193]:
# 描述性統計 (最大、最小)
dict_tmp = trade_train.groupby('ts_id')['BuyPrice'].max().to_dict()
trade_train['pre_trade_buy_max'] = trade_train['ts_id'].map(dict_tmp)

dict_tmp = trade_train.groupby('ts_id')['BuyPrice'].agg(lambda x: x[x>0].min()).to_dict()
trade_train['pre_trade_buy_min'] = trade_train['ts_id'].map(dict_tmp)

trade_train.head()

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second,ts_id,trade_buy_cnt,trade_sell_cnt,trade_cnt_diff,trade_size_diff,trade_size_ratio,pre_buy_max,pre_buy_min
0,1585704600549504,99924,141932,0,0.0,100,1115.5,2020-04-01 01:30:00.549504,2,1,30,0,0,6,8,2,2500,5.166667,1116.0,1115.5
1,1585704600551309,142138,141795,100,1116.0,0,0.0,2020-04-01 01:30:00.551309,2,1,30,0,0,6,8,2,2500,5.166667,1116.0,1115.5
2,1585704601244086,86301,142421,0,0.0,100,1115.0,2020-04-01 01:30:01.244086,2,1,30,1,0,6,8,2,2500,5.166667,1116.0,1115.5
3,1585704601252795,141888,143205,0,0.0,100,1115.0,2020-04-01 01:30:01.252795,2,1,30,1,0,6,8,2,2500,5.166667,1116.0,1115.5
4,1585704601256878,141888,143923,0,0.0,200,1115.0,2020-04-01 01:30:01.256878,2,1,30,1,0,6,8,2,2500,5.166667,1116.0,1115.5

In [249]:
trade_train.query('ts_id == 1').sort_values(by='BuyPrice').groupby('BuyPrice')['BuyVolume'].sum()

BuyPrice
0.00          0
1113.01    1000
1114.00     300
1115.00     100
1115.48     100
1115.49     300
1115.50     600
1116.00     100
1116.49     100
1116.80     100
1116.85     400
Name: BuyVolume, dtype: int64

In [248]:
trade_train.query('ts_id == 1').sort_values(by='BuyPrice').groupby('BuyPrice')['BuyVolume'].sum().cumsum()

BuyPrice
0.00          0
1113.01    1000
1114.00    1300
1115.00    1400
1115.48    1500
1115.49    1800
1115.50    2400
1116.00    2500
1116.49    2600
1116.80    2700
1116.85    3100
Name: BuyVolume, dtype: int64

In [243]:
trade_train.query('ts_id == 1').sort_values(by='BuyPrice').groupby('BuyPrice')['BuyVolume'].sum().sum()

3100

In [252]:
2700 / 3100

0.8709677419354839

In [257]:
ts2buyprice = {}

for i, row in trade_train.iterrows():
    ts = row['ts_id']
    buyvolume = row['BuyVolume']
    buyprice = row['BuyPrice']
    if ts not in ts2buyprice:
        ts2buyprice[ts] = []
    for j in range(buyvolume // 100):
        ts2buyprice[ts].append(buyprice)

ts2buypriceq25 = {}
for key, value in ts2buyprice.items():
    value = sorted(value)
    if (len(value) > 0):
        ts2buypriceq25[key] = np.percentile(np.array(value), 25)

In [266]:
ts2buyprice[1]

[1113.01,
 1113.01,
 1113.01,
 1113.01,
 1113.01,
 1113.01,
 1113.01,
 1113.01,
 1113.01,
 1113.01,
 1114.0,
 1114.0,
 1114.0,
 1115.5,
 1116.49,
 1116.8,
 1116.0,
 1116.85,
 1115.0,
 1115.48,
 1115.49,
 1115.49,
 1115.49,
 1115.5,
 1115.5,
 1116.85,
 1116.85,
 1116.85,
 1115.5,
 1115.5,
 1115.5]

In [336]:
trade_train.head()

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second,ts_id,trade_buy_cnt,trade_sell_cnt,trade_cnt_diff,trade_size_diff,trade_size_ratio,sell_ma1,sell_ma3,sell_ma6,sell_mstd3,sell_mstd6,buyl_ma1,buyl_ma3,buyl_ma6,buyl_mstd3,buyl_mstd6
0,1585704600549504,99924,141932,0,0.0,100,1115.5,2020-04-01 01:30:00.549504,2,1,30,0,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
1,1585704600551309,142138,141795,100,1116.0,0,0.0,2020-04-01 01:30:00.551309,2,1,30,0,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
2,1585704601244086,86301,142421,0,0.0,100,1115.0,2020-04-01 01:30:01.244086,2,1,30,1,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
3,1585704601252795,141888,143205,0,0.0,100,1115.0,2020-04-01 01:30:01.252795,2,1,30,1,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
4,1585704601256878,141888,143923,0,0.0,200,1115.0,2020-04-01 01:30:01.256878,2,1,30,1,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872

In [355]:
col_buy_size = ['BuyVolume'] 
col_buy = ['BuyPrice']

# 描述性統計 (其他)
pre_buy_avg = []
# pre_trade_bid_q1 = []
# pre_trade_bid_q2 = []
# pre_trade_bid_q3 = []

# for tsid in (0, max(ts_id)):
for tsid in range(0,1):
    split_data = trade_train.query(f'ts_id == {tsid}')
    split_data = split_data.query('BuyVolume > 0')
    
    for i in range(1,len(split_data)+1):
        term_data = []
        term_data = map(lambda x,y: split_data.loc[i-1,x].repeat(int(split_data.loc[i-1,y])),col_buy,col_buy_size)
        term_data = list(term_data)
        pre_buy_avg.append( np.quantile(term_data,0.25) )
        
        
#     term_data = []
#     term_data = map(lambda x,y: book_train.loc[i-1,x].repeat(int(book_train.loc[i-1,y])) ,col_bid ,col_bid_size )
#     term_data = list(term_data)
#     term_data = flatten_extend(term_data)
#     
#     pre_book_bid_q1.append( np.quantile(term_data,0.25) )
#     pre_book_bid_q2.append( np.quantile(term_data,0.5) )
#     pre_book_bid_q3.append( np.quantile(term_data,0.75) )

# pre_book_bid_mode.insert( 0, pre_book_bid_mode[0] )
# pre_book_bid_q1.insert( 0, pre_book_bid_q1[0] )
# pre_book_bid_q2.insert( 0, pre_book_bid_q2[0] )
# pre_book_bid_q3.insert( 0, pre_book_bid_q3[0] )

# book_train['pre_book_bid_mode'] = pre_book_bid_mode
# book_train['pre_book_bid_q1'] = pre_book_bid_q1
# book_train['pre_book_bid_q2'] = pre_book_bid_q2
# book_train['pre_book_bid_q3'] = pre_book_bid_q3

# book_train.head()

IndexError: cannot do a non-empty take from an empty axes.

In [374]:
split_data = trade_train.query(f'ts_id == 0')
split_data = split_data.query('BuyVolume > 0')

In [375]:
split_data

,TimeStamp,BidID,AskID,BuyVolume,BuyPrice,SellVolume,SellPrice,TimeStamp2,Week,Hour,Minute,Second,ts_id,trade_buy_cnt,trade_sell_cnt,trade_cnt_diff,trade_size_diff,trade_size_ratio,sell_ma1,sell_ma3,sell_ma6,sell_mstd3,sell_mstd6,buyl_ma1,buyl_ma3,buyl_ma6,buyl_mstd3,buyl_mstd6
1,1585704600551309,142138,141795,100,1116.00,0,0.0,2020-04-01 01:30:00.551309,2,1,30,0,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
5,1585704602351479,145463,142415,100,1115.50,0,0.0,2020-04-01 01:30:02.351479,2,1,30,2,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
6,1585704602351488,145463,142417,100,1115.50,0,0.0,2020-04-01 01:30:02.351488,2,1,30,2,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
7,1585704602351495,145463,142975,100,1115.50,0,0.0,2020-04-01 01:30:02.351495,2,1,30,2,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
9,1585704602363104,147205,145685,100,1115.73,0,0.0,2020-04-01 01:30:02.363104,2,1,30,2,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872
10,1585704602363286,147242,145288,100,1115.99,0,0.0,2020-04-01 01:30:02.363286,2,1,30,2,0,6,8,2,2500,5.166667,1113.01,1114.336667,1114.668333,1.148927,0.812414,1115.99,1115.74,1115.703333,0.245153,0.242872

In [376]:
col_buy_size = ['BuyVolume'] 
col_buy = ['BuyPrice']
i=1
term_data = []
term_data = map(lambda x,y: split_data.loc[i-1,x].repeat(int(split_data.loc[i-1,y])),col_buy,col_buy_size)
# term_data = list(term_data)

In [379]:
i=1
term_data = []
term_data = map(lambda x,y: split_data.loc[i-1,x].repeat(int(split_data.loc[i-1,y])),col_buy,col_buy_size)

In [381]:
term_data